<footer>
    <div class="main-content">
        <div class="left box">
            <h2>Sobre</h2>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum et veniam consectetur ratione</p>
                <div class="social">
                    <a href="#"><span class="fab fa-facebook-f"></span></a>
                    <a href="#"><span class="fab fa-twitter"></span></a>
                    <a href="#"><span class="fab fa-instagram"></span></a>
                </div>
            </div>
        </div>
        <div class="center box">
            <h2>Endereço</h2>
            <div class="content">
                <div class="place">
                    <span class="fas fa-map-marker"></span>
                    <span class="text">Rua.Rui Barbosa, Toledo</span>
                </div>
                <div class="phone">
                    <span class="fas fa-phone"></span>
                    <span class="text">+55 (44)99178-6230</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">altranfellipe@gmail.com</span>
                </div>
            </div>
        </div>
        <div class="right box">
            <h2>Contato</h2>
            <div class="content">
                <form action="#">
                    <div class="email">
                        <div class="text">Email *</div>
                        <input type="email" required>
                    </div>
                    <div class="msg">
                        <div class="text">Mensagem *</div>
                        <textarea cols="25" rows="2" required></textarea>
                    </div>
                    <div class="btn">
                        <button type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="center">
            <span class="credit">Desenvolvido por<a href=""> FELLIPE</a></span>
        </div>
    </div>
</footer>