<div class="container1">
  <div class="wallpaper">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, optio cum culpa quia iste doloribus laborum,
      amet dicta excepturi eum sapiente quos cupiditate iusto accusamus eveniet! Sapiente, quis cupiditate!
      Voluptatibus?</p>
  </div>
</div>

<section class="container2">
  <ng-container *ngFor="let hero of heroes">
    <div class="card">
      <p>{{ hero.name }}</p>
      <img mat-card-image src="{{ chamarImg(hero.thumbnail.path) }}" alt="heroeImg">
      <p>{{ hero.description }}</p>
    </div>
  </ng-container>
</section>

<div class="divButton">
  <button (click)="callMoreHeroes()" class="button">more</button>
</div>