/* .example-card {
  max-width: 300px;
  min-height: 300px;
  background-color: #202020;
  color: white;
}
.frase h1 {
  margin: 20px;
} */

.container1 {
  display: grid;
  grid-template-areas:
    "wallpaper"
    "hereos"
    "button";
}

.wallpaper {
  padding: 0;
  height: 436px;
  background-size: cover;
  background-image: url("../../../../assets/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.frase {
  background-color: rgba(15, 15, 15, 0.397);
  display: flex;
  align-items: center;
  align-items: stretch;
  width: 40%;
  color: white;
}

.container2 {
  display: grid;
  max-width: 1800px;
  margin: 0 auto;
  justify-items: center;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  width: 350px;
  height: 350px;
  display: grid;
  /* grid-template-rows: 0.5fr 0.5fr 2fr; */
  color: white;
  background-color: #202020;
  border: solid 3px #030202;
  border-radius: 15px;
  box-shadow: 4px 5px 5px 1px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 4px 5px 5px 1px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 4px 5px 5px 1px rgba(0, 0, 0, 0.27);
  margin-top: 10px;
}

.card :not(last-child) {
  padding: 10px;
}

.card :last-child {
  overflow-y: auto;
}

.card img {
  margin: 0 auto;
}

.card p {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.divButton {
  display: grid;
  grid-area: "button";
  justify-content: center;
}

.button {
  border: none;
  padding: 20px;
  width: 150px;
  background-color: #BE0000;
  color: white;
  border-radius: 20px;
  margin-top: 5vh;
  margin-bottom: 10vh;
  transition: 0.3s;
  cursor: pointer;
}

.button:hover {
  border: none;
  border-radius: 20px;
  box-shadow: -9px 8px 22px -5px rgba(92, 80, 80, 0.75);
  -webkit-box-shadow: -9px 8px 22px -5px rgba(92, 80, 80, 0.75);
  -moz-box-shadow: -9px 8px 22px -5px rgba(92, 80, 80, 0.75);
  background-color: #800000;

}

@media (max-width: 1750px) {

  /* .card {
    height: 325px;
    width: 325px;
  }

  .wallpaper {
    height: 45vh;
  } */

  .container2 {
    max-width: 1300px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  /* 
  .card {
    height: 300px;
    width: 300px;
  }

  .card img {
    height: 100px;
    width: 75px;
  }

  .wallpaper {
    height: 40vh;
  } */

  .container2 {
    max-width: 800px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 840px) {

  /* .card {
    height: 300px;
    width: 275px;
  }

  .card img {
    height: 125px;
    width: 100px;
  }

  .wallpaper {
    height: 35vh;
  } */

  .container2 {
    max-width: 400px;
    grid-template-columns: 1fr;
  }
}