<div class="wallpaper">
    <div class="frase">
      <h1>BEM VINDO A MINHA PAGINA Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis unde incidunt dolorem quod consectetur iusto officiis nihil nulla minus necessitatibus totam, corrupti inventore officia, nisi quisquam debitis quidem odio ex.</h1>
    </div>
</div>

<div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
  <div *ngFor="let hero of heroes"
    style="display: flex; align-items: center; justify-content: center; margin-top: 10px;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{ hero.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content style="justify-content: center;">
        <img mat-card-image src="{{ chamarImg(hero.thumbnail.path) }}" alt="heroeImg">
      </mat-card-content>
      <mat-card-content style="overflow-y: auto; max-height: 100px;">
        <p>
          {{ hero.description }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="divButton">
  <button (click)="callMoreHeroes()" class="button">more</button>
</div>